* {
    box-sizing: border-box;
}

.carousel-wrapper {
    width: 300px;
    height: 400px;
    overflow: hidden;
}

.carousel-wrapper > .carousel {
    display: flex;
}

.carousel-wrapper > .carousel > img {
    width: 300px;
    height: 400px;
}
